

.estado{
    color: #A35;
    background-color: azure;
    margin: 1px;
    padding-top: 80px;
    transition: 1s;
    font-size: 29px;
    height: 200px;
    background-size: cover;
}

.estado:hover{
    color: azure;
    background-color: black;
    border: 5px solid white;
    transition: 0.5s;

}

.estado img{
    margin-right: 10px;
    margin-left: -305px;
}


.estados{
    font-family: 'Baloo Bhai','cursive';
    font-size: 20px;
    width: 90%;
    margin: 10px 10% 10px 20%;
}
