

.estado{
    color: black;
    background-color: azure;
    margin: 1px;
    border: 3px solid black;
    transition: 1s;
    font-size: 16px;
}

.estado:hover{
    color: azure;
    background-color: black;
    margin: 10px;
    border: 3px solid azure;
    transition: 1s;

}

.estado img{
    margin-right: 10px;
    margin-left: -15px;
}

.estados{
    font-family: 'Baloo Bhai','cursive';
    font-size: 20px;
    width: 80%;
    margin: 10px 10% 10px 20%;
}
