/* ID's */
#main-header{
    font-family: 'Baloo Bhai','cursive';
    font-size: 6em;
    width: 100%;
    color: azure;
}

#main-text{
    margin: 15px;
    color: azure;
    font-size: 24px;
}

#discover-more{
    margin: 50px auto;
    font-size: 24px;
}



/* classes */

.data-box{
    width: 500px;
    height: 300px;
    margin: 0px 15px;
    text-align: center;
    background-color: #EEE;
    display: inline-block; 
}

.data-header{
    font-size: 2.5em;
}


.heading{
    width: 100%;
    margin: 120px 0 70px;
    padding: 0 10% 0 16%; 
}

.first-section{
    background-image: url("../images/sitebackground.png");
}

.help{
    font-family: 'Baloo Bhai','cursive';
    padding-top: 110px; 
    width: 300px;
    height: 300px; 
    font-size: 2.5em;
    color: azure;
    border: 20px dotted #333;
    display: block;
    background-color: #503FF8; 
}



.second-section{
    padding-top: 100px;
    background-color: #AA94B8;
    background-image: url("../images/sitebackground2.jpg");
}

.second-section-header{
    margin-top: 150px;
    font-family: 'Baloo Bhai','cursive';
}

.returnButton{
    display: flex;
    font-family: 'Roboto', sans-serif;

}

.options{
    width: 100%;
    text-align: center;
}

.material-icons{
    position: relative;
    top: 7px;
}

.row{
    text-align: center;
}

/* tags gerais */



p {
    font-family: 'Roboto', sans-serif;
}

img{
    display: inline;
}

.options button{
    margin: 50px 99px;
    width: 150px;
    font-size: 19px;
}