/* ID's */
#main-header{
    font-family: 'Baloo Bhai','cursive';
    font-size: 6em;
    width: 100%;
    color: azure;
}

#main-text{
    margin: 15px;
    color: azure;
    font-size: 24px;
}

#discover-more{
    margin: 50px auto;
    font-size: 24px;
}

/* classes */
.heading{
    width: 100%;
    margin: 200px 0 150px;
    padding: 0 10% 0 16%; 
}


.first-section{
    background-image: url("../images/sitebackground.png");
}

/* tags gerais */

p {
    font-family: 'Roboto', sans-serif;
}